<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2723CB892F66ACE70027631E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C831BF2F5B4D4E0037161F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C831D52F5B4D4F0037161F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
